<div class="container">

<img src="./assets/crystalFlower.png" class="rounded float-left flower">
<img src="./assets/crystalFlower.png" class="rounded float-right flower">
<img class="rounded logo" src="./assets/logo.png">
  


  <div class="right-text float-right">
  <a>Detergents</a>
  <a>Arcosteel</a>
  <a>Naaman</a>
  </div>

 

   
  <div class="left-text float-left">
    <a>Housewares</a>
    <a>Gifts</a>
    <a>Crystal</a>
  </div>
</div>



<div class="list">
  <app-product-list></app-product-list>
</div>

