table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

td a{
  color: black;
}
  
.pagination{
  margin-top: 40px;
  margin-bottom: 40px;
}


  .container{
    margin-top: 20px;
    min-height: 50vh;
  }

  h2{
    margin-top: 20px;

  }

  .total{
    color: rgb(0,128,0);
  }